:root {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);

  --light-grayish-cyan-bg: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);

  --font-body: 15px;
  --font-family: "Spartan", sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-body);
  background-color: var(--light-grayish-cyan-bg);
  color: var(--very-dark-grayish-cyan);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}
